<mat-sidenav-container [dir]="direction" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-toolbar>القائمة</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">المواضيع</a>
      <a mat-list-item href="#">الأعضاء والحضور</a>
      <a mat-list-item href="#">المحضر </a>
      <a mat-list-item href="#">المصادقة </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar" color="primary">
      <mat-toolbar-row>
        <span>المجلس الأول</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="top-toolbar-bottom">
        <div class="top-toolbar-title">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>الجلسة الأولى</span>
        </div>
        <div class="top-toolbar-actions">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="flipDirection()"
          >
            <mat-icon aria-label="Side nav toggle icon">language</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>

      <!-- <p>Current direction is: {{ direction }}!</p> -->
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
