<mat-sidenav-container [dir]="direction" class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ماتيريال</span>
      <!-- <p>Current direction is: {{ direction }}!</p> -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="flipDirection()"
      >
        <mat-icon aria-label="Side nav toggle icon">language</mat-icon>
      </button>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
