<div class="grid-container">
  <h1 class="mat-h1">المواضيع</h1>

  <!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      {{ tile.text }}
    </mat-grid-tile>
  </mat-grid-list> -->
  <mat-grid-list cols="12" rowHeight="2:1">
    <mat-grid-tile colspan="11" rowspan="1"> </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-raised-button color="primary">إضافة موضوع</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3"> </mat-grid-list>
  <mat-grid-list cols="3">
    <app-topic></app-topic>
  </mat-grid-list>
</div>
